.cursor-pointer {
  cursor: pointer;
}

svg.banner {
  width: 100%;
  height: auto;
}

#pma_container {
  flex: 1 0 auto;
}

.navbar-brand img {
  max-width: 30px;
}

#pma_container {
  max-width: 900px;
}

button {
  cursor: pointer;
}

.caption button {
  right: 0px;
}

.login-form-1 {
  padding: 5%;
  background: #282726;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

body {
  /*background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');*/
  background-image: url('./background-photo1.jpg');
  background-size: cover;
}

.white-1 {
  color: antiquewhite;
}

/******* old css ****/
.login-container {
  margin-top: 3%;
  margin-bottom: 5%;
}
.login-logo {
  position: relative;
  margin-left: -41.5%;
}
.login-logo img {
  position: absolute;
  width: 20%;
  margin-top: 19%;
  background: #282726;
  border-radius: 4.5rem;
  padding: 5%;
}

.login-form-1 h3 {
  text-align: center;
  margin-bottom: 12%;
  color: #fff;
}
.login-form-2 {
  padding: 9%;
  background: #f05837;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  margin-bottom: 12%;
  color: #fff;
}
.btnSubmitLogin,
.btnSubmitRegister {
  font-weight: 600;
  width: 50%;
  color: #282726;
  background-color: #fff;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  cursor: pointer;
  outline: none;
}

.btnSubmitLogin:hover,
.btnSubmitRegister:hover {
  color: #ffd400;
  background: #98928c;
  /* transform:translate(0,0px);
box-shadow:0 7px 14px rgba(0,0,0,.2),0 14px 28px rgba(0,0,0,.2) */
}

.btnRegister {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.btnRegister:hover {
  text-decoration: none;
  color: #ffd400;
}
#pma_container .navbar-brand {
  text-align: center;
  color: #fdba12;
}

#pma_container .navbar-brand img {
  max-width: 60px;
}

.login-form-1 h3.yellow1 {
  color: #fdba12;
}
.login-form-1 h3.yellow2 {
  color: #ffd400;
}

.login-form-1 {
  border-radius: 5px;
}

#pma_container {
  opacity: 1;
  transition: opacity 0.7s;
}
#pma.page-hide {
  opacity: 0;
}

* {
  /* box-sizing: border-box; */
  box-sizing: initial;
}

.title {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
@media screen and (max-width: 576px) {
  .title {
    font-size: 2.75rem;
  }
}

p {
  margin: 0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color: #444;
  font-weight: 100;
  width: 90%;
}
@media screen and (min-width: 37.5em) {
  p {
    height: 70%;
  }
}

.case-study-gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.case-study {
  position: relative;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 0.4s ease;
}
@media screen and (min-width: 37.5em) {
  .case-study {
    height: 300px;
  }
}
@media screen and (min-width: 45em) {
  .case-study {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}

.case-study__img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.case-study__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}
.case-study__overlay:after {
  content: '';
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all 0.3s ease;
}

.case-study__title {
  position: relative;
  /*top: -200px;*/
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Oswald';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.case-study__link {
  position: relative;
  display: block;
  width: 60%;
  /*top: 200px*/
  padding: 10px;
  margin: 0 auto;
  font-family: 'Oswald';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.case-study__link:hover {
  background-color: white;
  color: #202020;
}

.case-study:hover .case-study__title {
  top: 0;
}
.case-study:hover .case-study__link {
  top: 0;
}
.case-study:hover .case-study__overlay:after {
  opacity: 0.75;
}
.case-study {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/00/03/04/16561cc598ddd84.jpg');
}
/*.study1 {
background-image: url("http://www.livingfengshui.ca/wp-content/uploads/2014/01/unsplash-contemplative.jpg");
}
.study2 {
background-image: url("http://imgs.abduzeedo.com/files/paul0v2/unsplash/unsplash-04.jpg");
}

.study3 {
background-image: url("http://415vince.com/wp-content/uploads/2014/07/unsplash-mts.jpg");
}

.study4 {
background-image: url("https://41.media.tumblr.com/8d41610b4f5e7d5b68e4430b736fbeb3/tumblr_n4vbj2Vv8h1st5lhmo1_1280.jpg");
}
*/

#pma {
  width: 100%;
  max-width: 700px;
  margin: 80px auto;
}
/*.thumbnails-container {
  width: 95%;
  height: 160px;
  overflow: auto;
  margin: 20px auto;
}*/
/*#thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  position: relative;
  left: 15px;
}*/

#thumbnails .img-container {
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  margin: 2px;
  cursor: pointer;
  background: white;
  height: fit-content;
  height: -moz-fit-content;
  /*margin: 5px auto ;*/
}
.img-container:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#thumbnails img {
  width: 200px;
  height: 150px;
  -o-object-fit: contain;
  object-fit: contain;
}

.btn-rounded {
  -webkit-border-radius: 10em;
  border-radius: 10em;
}

.btn-rounded span {
  color: white;
}

.btn {
  padding: 0.84rem 2.14rem;
}

.modal-dialog {
  width: fit-content;
  width: -moz-fit-content;
  max-width: 80%;
  min-width: 400px;
  min-height: 400px;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  margin: auto;
}
.btn.btn-warning {
  padding: 3px;
  font-size: 12px;
}
.btn-container label,
#backToAlbums,
#addFolderBtn {
  cursor: pointer;
  color: white;
  line-height: 50px;
  vertical-align: text-bottom;
}
.btn-container img {
  width: 30px;
}

.btn-container input,
.hide {
  display: none;
}

.yellow1 {
  color: #ffd400;
  font-size: 20px;
}

/*#thumbnails {
  margin-bottom: 60px;
  margin-top: 60px;
}*/

.navbar-fixed-top .container {
  max-width: 700px !important;
}
.navbar-header {
  width: 100%;
}

.title {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  letter-spacing: 5px;
  background: linear-gradient(rgba(255, 0, 0, 0), #f6f6f7, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

@media screen and (min-width: 37.5em) {
  .case-study {
    /* height: 200px;*/
  }
}
.case-study__link.btn.btn-warning {
  margin-top: 5px;
}
.case-study__link {
  cursor: pointer;
}
